html {

  @apply font-sans;

  height: 100%;
  min-height: 100%;
}

body {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}

body, #__nuxt, #__layout, .wrapper {
  height: 100%;
  min-height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
