h1,
.h1 {
}

h2,
.h2 {
}

h3,
.h3 {
}

h4,
.h4 {
}

h5,
.h5 {
}

h6,
.h6 {
}

p,
.p {
}

b,
strong {
  font-weight: bold;
}

a {
}

sub {
  top: -.5em;
  font-size: 60%;
}

ul {

  li {
  }
}

ol {

  li {
  }
}

table {
}

tr {
}

th {
}

td {
}

input {

  &:focus {
    outline: none;
  }
}

textarea {

  &:focus {
    outline: none;
  }
}

select {
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

input[type='submit'] {
  border: 0;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

div,
a,
a:active,
a:focus {
  outline: none;
}
