.hero {
  /*@media only screen and (min-width: theme('screens.xl')) {
    min-height: 500px;
  }*/

  &__bg {
    object-fit: cover;
    object-position: center;

    @apply w-full;

    @apply h-full;

    @apply absolute;

    @apply top-0;

    @apply left-0;
  }

  &__arrow {

    @apply absolute;

    @apply bottom-0;

    left: calc(50% - 30px);
  }
}
